* {
    box-sizing: border-box;
}
.gallery-img {
    display: none;
    max-height: 400px;
}
.active {
    display: block;
}
.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
.prev {
    margin-right: 15px;
}
.btn:disabled {
    background-color: #777;
    cursor: not-allowed;
}

/* the below is for the Q&A on Nom nom nom */ 
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .question {
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 5px #666;
    text-align: center;
  }
  
  label {
    font-family: cursive;
    font-size: 25px;
  }
  
  input {
    display: block;
    width: 100%;
    margin-top: 15px;
    text-align: center;
    padding: 0 15px;
    font-size: 25px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #333;
    font-family: 'Shadows Into Light', cursive;
  }
  
  button {
    font-family: 'Shadows Into Light', cursive;
    padding: 0 25px;
    font-size: 25px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
/* this ends the CSS for the Q&A on food */