/*fonts*/

h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 24px;
    color: black;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 18px;
    color: black;
}

p {
    font-family: 'Shadows Into Light', cursive;
    font-size: 16px;
    color: black;
}

ul {
    font-family: 'Shadows Into Light', cursive;
    font-size: 16px;
    color: black;
}

/*Regular links*/

.reglink {
    color: #77d9d9;
    text-decoration: none;
}

.reglink a:hover {
    background-color: #012326;
    color: whitesmoke;
}

.reglink a:visited {
    color: #77d9d9;
    text-decoration: none;
}

/*header*/

header {
    background-color: #BABDBF;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 1rem;
}

/*body*/

body {
    background-color: #d9d9d9;
}


/*footer*/

footer {
    background-color: #4e4d59;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    border-radius: 1rem;
}

/*random things*/

.homepage {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

/*nav take 2*/

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-top: 2px solid #4e4d59;
    border-bottom: 2px solid #4e4d59;
    margin: 10px 0 10px 0;
    text-align: center;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #77d9d9;
    border-radius: .5rem;
    display: block;
    padding: .75rem;
}

nav li {
    list-style-type: none;
    display: inline-block;
    background: #d9c5b4;
    border-radius: .5rem;
    margin: 0 1rem 0 1rem;
}

.kate {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

::after, .whois {
    content: "";
    display: table;
    clear: both;
}
